<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>univelcity | {{section}}</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/styles/site.css" rel="stylesheet">

	{{!-- This file provides the default styling for the KeystoneJS Content Editor
	- only renders when user is logged in and admin--}}
	{{{isAdminEditorCSS user}}}

	{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
	//- Safely remove this block if you are not targeting IE8 --}}
	<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	<div class="navbar-wrapper nav_menu">
		<div class="container">
			<div class="header_section">
				<div class="logo pull-left"><a href="/"><img src="/images/logo.png" alt="logo" /></a></div>
				<div class="navbar navbar-static-top pull-right">

					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					 aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/courses">Courses</a></li>
							<li><a href="#" target="ext">Admission</a></li>
							<li><a href="/about">About Us</a></li>
							<li><a href="/courses/immersive"><span>Get Started</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- /container -->
	</div>

	{{#ifeq section 'home'}}
		<!-- Carousel -->
		<div id="myCarousel" class="carousel slide">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner innerIMG">
				<div class="item active">
					<div class="container mid_content">
						<div class="in_tech">We Accelerate Your Career in Tech.</div>
						<div class="right_corse">
							<p class="up_tx">Upcoming Courses!</p>
							<p class="fd_tx">{{data.course.title}}</p>
							<div class="date"><i class="fa fa-calendar"></i> &nbsp;&nbsp;Starts {{date data.course.startDate}}</div>
							<div class="time"><i class="fa fa-clock-o"></i> &nbsp;&nbsp;{{data.course.periods}}</div>
							<a href="/courses/{{data.course.courseType}}/{{data.course.slug}}" class="apply_now">Apply Now</a>
						</div>
					</div>
					<a href="#nextpage">
						<div class="down_arrow"><i class="fa fa-angle-down"></i></div>
					</a>
					<span class="bg_slider"></span>
					<img src="/images/slider1.png" class="img-responsive" />
					<div class="container">
						<div class="carousel-caption"></div>
					</div>
				</div>
				<div class="item">
					<div class="container mid_content">
						<div class="in_tech">Learn How To&nbsp;Code From Scratch.</div>
						<div class="right_corse">
							<p class="up_tx">Upcoming Courses!</p>
							<p class="fd_tx">Backend Development</p>
							<div class="date"><i class="fa fa-calendar"></i> &nbsp;&nbsp;Starts June 5, 2018</div>
							<div class="time"><i class="fa fa-clock-o"></i> &nbsp;&nbsp;10am - 4pm ( mon &amp; wed )</div>
							<a href="frontend_development.html" class="apply_now">Apply Now</a>
						</div>
					</div>
					<div class="down_arrow"><i class="fa fa-angle-down"></i></div>
					<span class="bg_slider"></span>
					<img src="/images/slider2.png" class="img-responsive" />
					<div class="container">
						<div class="carousel-caption"></div>
					</div>
				</div>
				<div class="item">
					<div class="container mid_content">
						<div class="in_tech">Speed Up Your Learning With Us.</div>
						<div class="right_corse">
							<p class="up_tx">Main Campus!</p>
							<div class="date"><i class="fa fa-map-marker"></i> 42 Montgomery Road, Yaba, Lagos, Nigeria</div>
							<a href="frontend_development.html" class="apply_now">Apply Now</a>
						</div>
					</div>
					<div class="down_arrow"><i class="fa fa-angle-down"></i></div>
					<span class="bg_slider"></span>
					<img src="/images/slider3.png" class="img-responsive" />
					<div class="container">
						<div class="carousel-caption"></div>
					</div>
				</div>
			</div>
		</div>
	{{else}}
		<div class="page_heading">
			<div class="page_name">
				{{#ifeq section 'courses'}}
					<h1>Courses</h1>
					<p>We Accelerate Your Career in Tech</p>
				{{else}}
				{{/ifeq}}
				{{#ifeq section 'about'}}
					<h1>About</h1>
					<p>We Accelerate Your Career in Tech</p>
				{{else}}
				{{/ifeq}}
				{{#ifeq section 'courseLists'}}
					<h1>Course Lists..{{filters.category}}</h1>
					<p>We Accelerate Your Career in Tech</p>
				{{else}}
				{{/ifeq}}
				{{#ifeq section 'course'}}
					<h1>Course Details..{{filters.category}}</h1>
					<p>We Accelerate Your Career in Tech</p>
				{{else}}
				{{/ifeq}}
				{{#ifeq section 'blog'}}
					<h1>Blog</h1>
					<p>We Accelerate Your Career in Tech</p>
				{{else}}
				{{/ifeq}}
			</div>
			<span class="bg_inner_pages"></span>
			<img src="/images/about_head.png" alt="img" />
		</div>
	{{/ifeq}}



	<!-- The content block should contain the body of your template's content-->
	{{{body}}}
	
	<!--  Footer -->
	<footer class="footer-bs">
		<div class="container">
			<div class="col-md-3 ftrone">
				<div class="ftr_logo"><img src="/images/logo_v.svg" width="98" alt="footer logo" /></h2>
					<p>42, Montgomery Road, <br>Yaba, Lagos, Nigeria.</p>
				</div>
			</div>
			<div class="col-md-3 ftrtwo">
				<h4>Courses</h4>
				<ul class="pages">
					<li><a href="/courses/immersive">Immersive Courses</a></li>
					<li><a href="/courses/accelerated">Accelerated Courses</a></li>
					<li><a href="#">Backend Development</a></li>
					<li><a href="#">Android Development</a></li>
				</ul>
			</div>
			<div class="col-md-3 ftrthree">
				<h4>Company</h4>
				<ul>
					<li><a href="/about">About Us</a></li>
					<li><a href="#">Admission</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="#">Privacy &amp; Policy</a></li>
				</ul>
			</div>
			<div class="col-md-3 ftrfour">
				<h4>Connect with us</h4>
				<a href="#" class="input-group">Hello@univelcity.com</a>
				<p class="input-group">07036188527</p>
				<div class="social">
					<a href="http://www.facebook.com/univelcity"><i class="fa fa-facebook-square"></i></a>
					<a href="http://www.twitter.com/univelcity"><i class="fa fa-twitter"></i></a>
					<a href="http://www.instagram.com/univelcity"><i class="fa fa-instagram"></i></a>
				</div>
			</div>
		</div>
	</footer>

	{{!--
	//- jQuery 1.11.3 is included by default, and required by both Bootstrap
	//- and the KeystoneJS Content Editor. If you are not targeting IE8,
	//- you can upgrade to 2.1.4 (also bundled) for better performance.
	--}}
	<script src="/js/jquery/jquery-1.11.3.min.js"></script>
	{{!--
	//- Customise which Bootstrap javascript files are served by including
	//- them specifically here, instead of bootstrap-3.3.5.min.js
	--}}
	<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
	<script src="/js/main.js"></script>
	<script>
		app.carouselCTRL();
	</script>
	{{{isAdminEditorJS user}}}
</body>

</html>