<div class="breadcrumb">
  <div class="container padLR">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/courses">Courses</a></li>
        <li class="breadcrumb-item"><a href="/courses/{{filters.courseType}}">{{filters.courseType}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{data.course.title}}</li>
      </ol>
    </nav>
  </div>
</div>

<div class="section_accelerate dev_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="crse_abt">
          <h2 class="h2_head">About this Course</h2>
          <p>{{safeStringAlways data.course.description.extended}}</p>
        </div>
        <div class="tk_awy">
          <h2 class="h2_head">Takeaways</h2>
          <div>{{safeStringAlways data.course.takeAways}}</div>
        </div>
        <div class="tk_awy du_sec">
          <h2 class="h2_head">Duration</h2>
          <div>
            <p><span>{{data.course.duration}}</span></p>
          </div>
        </div>
        <div class="tk_awy pre_sec">
          <h2 class="h2_head">Prerequisite and Preparation</h2>
          <div>
            <p><span>{{safeStringAlways data.course.prerequirements}}</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 pull-right rightSEC">
        <div class="right_section">
          <ul>
            <li><img src="/images/calender.svg" alt="calender" /> <span>Starts {{date data.course.startDate}}</span></li>
            <li><img src="/images/clock.svg" alt="clock" /> <span>{{data.course.periods}}</span></li>
            <li><img src="/images/area_pin.svg" alt="area_pin" /> <span>{{data.course.location}}</span></li>
            <li><img src="/images/price-tag.svg" alt="price-tag" /> <span>Price: {{data.course.actualPrice}}</span></li>
          </ul>
          <div class="button"><a href="/payments/courses/{{data.course.slug}}">Apply</a></div>
        </div>

        <div class="get_crs">
          <span>Get update on this course</span>
          <form action="#" class="input-group-sm">
            <input class="btn btn-lg" name="email" id="email" type="email" placeholder="Email" required>
            <button class="btn btn-info btn-lg" type="submit">Subscribe</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>